@import "tailwindcss";

@theme {
  --color-background: #000;
  --color-foreground: #fff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
